<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ static_variables.business_name }} | {{ pagename }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/favicon.ico">

        <meta name="description" content="Business Page for {{ static_variables.business_name }}">
        <meta name="author" content="{{ static_variables.business_name }}">
        <meta name="keywords" content="Business Page, {{ static_variables.business_name }}, Business">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta name="bingbot" content="index, follow">

        <!-- Preload -->
        <link rel="preload" href="/static/styles.css" as="style">
        <link rel="preload" href="/static/0-pre.js" as="script">

        <!-- Static Files -->
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/0-pre.js"></script>
    </head>
    <body>
        

        <!-- Header -->
        <div id="titleBar"></div>

        <!-- Navigation Bar -->
        <div id="navigationBar" class="noselect">            
            <div class="navigationDropdown">
                <button id="menubutton_Home" class="dropdownButton" type="button" link="/" onclick="redirect('/')">
                    Home
                </button>
            </div>
            <div class="navigationDropdown">
                <button id="menuButton_Photos" class="dropdownButton" type="button" link="/photos" onclick="redirect('/photos')">
                    Photos
                </button>
            </div>
            <div class="navigationDropdown">
                <button id="menuButton_Contact" class="dropdownButton" type="button" link="/contact" onclick="redirect('/contact')">
                    Contact
                </button>
            </div>
        </div>
        
        <!-- System Messages -->
        <div id="infoMessage" style="" class="noselect"></div>
        <div id="errorMessage" style="" class="noselect"></div>

        <!-- Main -->
        <div id="main-wrapper">