{% include "header.html" %}

<div id="bannerContainer" class="tile">
    <div style="align-items: center; gap: 20px;">
        <div id="bannerContentTitle">
            <h3 style="margin: 0; margin-bottom: 30px;">Delicious Coffee, Real Chocolate</h3>
        </div>
        <div id="bannerContent">
            <p style="margin: 0;">Available for events, sports, fairs and markets with our barista Sou Yi. Operating out of Wellington and Kapiti for 3 years.
            </p>
        </div>
    </div>
    <div id="bannerImageContainer">
        <img id="bannerImage" src="/static/van-smiling.jpg" alt="Banner" style="vertical-align: middle;">
    </div>
</div>

<div id="descContainer" class="tile">
    <div id="descContent">
        <p>Sou Yi has extensive experience working in cafés with 10 years as a Barista.<br>
        Paradise Coffee is her own business born out of her love of making great coffee three years ago and wanting to share it with others.<br><br>
        The van is a mobile, fully self-contained vehicle (no power, water or requirement to run a motor), ready to set up and sell fantastic coffee at your next event.</p>
    </div>
</div>

<div id="contactContainer" class="tile">
    <div id="contactContent">
        <h2>Book Paradise Coffee</h2>
        <p>Phone: <a href="tel:0272595920">027 259 5920</a><br>
        Email: <a href="mailto:souyi@paradisecoffee.cafe">souyi@paradisecoffee.cafe</a></p>
    </div>
</div>

{% include "footer.html" %}